<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/main.html">

<div layout:fragment="content">
    <form action="#" method="get" class="d-flex align-items-center gap-2 row mt-3">
        <div class="col-2">
            <label class="form-label d-none" for="teamFilter">Choose team:</label>
            <select class="form-select" id="teamFilter" name="team">
                <option value="">All teams</option>
                <option th:each="teamName : ${teamNames}"
                        th:value="${teamName}"
                        th:text="${teamName}"></option>
            </select>
        </div>

        <div class="col-2">
            <label class="form-label d-none" for="positionFilter">Choose position:</label>
            <select class="form-select" id="positionFilter" name="playingPosition">
                <option value="">All positions</option>
                <option th:each="position : ${T(kz.bitlab.bitlabfinalproject.enums.PlayingPosition).values()}"
                        th:value="${position}"
                        th:text="${position.getTitle()}"></option>
            </select>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <div class="d-none d-lg-flex flex-wrap justify-content-start mt-3">
        <div class="card m-2 text-start text-break text-bg-light" style="width: 20rem;" th:each="player : ${players}">
            <div class="card-header">
                <p class="card-text text-start" th:text="${player.team.name}"></p>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${player.getFullName()}"></h5>
                <p class="card-text text-start" th:text="'Position: ' + ${player.playingPosition}"></p>
                <p class="card-text text-start" th:text="'Number: ' + ${player.jerseyNumber}"></p>
                <p class="card-text text-start" th:text="'Birthdate: ' + ${player.getFormattedBirthdate()}"></p>
            </div>
        </div>
    </div>
</div>
</html>
