<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/main.html">

<div layout:fragment="content">
<div class="mt-3">
    <div th:if="${errors}">
        <div th:each="error : ${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error.defaultMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <form class="mt-3 row g-3" method="post">
        <div>
<!--            <div class="row">-->
                <div class="w-50">
                    <label for="firstName" class="form-label">First name</label>
                    <input class="form-control" id="firstName" name="firstName">
                </div>
                <div class="w-50">
                    <label for="lastName" class="form-label">Last name</label>
                    <input class="form-control" id="lastName" name="lastName">
                </div>
<!--            </div>-->
<!--            <div class="row">-->
                <div class="w-50">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="">
                </div>
<!--            </div>-->
            <div class="row w-50">
                <div class="col-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="">
                </div>
                <div class="col-6">
                    <label for="rePassword" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="rePassword" name="rePassword">
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
</div>
</html>