<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/main.html">

<div layout:fragment="content">
    <h1 class="mt-3">Team form</h1>
    <div class="d-flex flex-row gap-2">
        <a th:href="@{'/teams/edit/' + ${team.uuid}}" class="btn btn-success">Edit team</a>
        <form th:action="'/teams/delete/' + ${team.uuid}" class="d-flex" method="post">
            <button class="btn btn-danger">Delete team</button>
        </form>
    </div>
    <hr class="my-4">
    <ul class="nav nav-underline flex-row" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#roster"
                    type="button" role="tab" aria-controls="roster" aria-selected="true">Players
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="staff-tab" data-bs-toggle="tab" data-bs-target="#staff"
                    type="button" role="tab" aria-controls="staff" aria-selected="false">Staff
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                    type="button" role="tab" aria-controls="about" aria-selected="false">Description
            </button>
        </li>
    </ul>

    <div class="pt-2 tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="roster" role="tabpanel" aria-labelledby="roster-tab">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <a th:href="@{'/players/add/' + ${team.uuid}}" class="btn btn-primary">Add player</a>
                </div>
                <table class="table table-hover align-middle">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Last name</th>
                        <th scope="col">First name</th>
                        <th scope="col">Jersey number</th>
                        <th scope="col">Playing position</th>
                        <th scope="col">Age</th>
                        <th scope="col">Actions (Edit / Delete)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player, iterStat : ${team.getPlayers()}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${player.lastName}"></td>
                        <td th:text="${player.firstName}"></td>
                        <td th:text="${player.jerseyNumber}"></td>
                        <td th:text="${player.playingPosition}"></td>
                        <td th:text="${player.getAge()}"></td>
                        <td>
                            <div class="d-flex flex-row gap-2">
                                <a th:href="@{'/players/edit/' + ${player.uuid}}" class="btn btn-success">Edit</a>
                                <form th:action="@{'/players/delete/' + ${player.uuid}}" class="d-flex" method="post">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="staff-tab">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <a th:href="@{'/staff/add/' + ${team.uuid}}" class="btn btn-primary">Add staff</a>
                </div>
                <div>
                    <h5>Founder:</h5>
                    <div class="card m-2 text-start text-break text-bg-light" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${team.user.getFullName()}"></h5>
                            <p class="card-text text-start" th:text="${team.name}"></p>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <h5>Managers:</h5>
                    <div class="d-none d-lg-flex flex-wrap justify-content-start mt-3">
                        <div class="card m-2 text-start text-break text-bg-light" style="width: 20rem;" th:each="manager : ${managers}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${manager.getFullName()}"></h5>
                                <p class="card-text text-start" th:text="'Experience, years: ' + ${manager.experience}"></p>
                                <p class="card-text text-start" th:text="'Phonenumber: ' + ${manager.phoneNumber}"></p>
                                <p class="card-text text-start" th:text="'Description: ' + ${manager.description}"></p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex flex-row gap-2 justify-content-end">
                                    <a th:href="@{'/staff/edit/' + ${manager.uuid}}" class="btn btn-success">Edit</a>
                                    <form th:action="'/staff/delete/' + ${manager.uuid}" class="d-flex" method="post">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <h5>Coaches:</h5>
                    <div class="d-none d-lg-flex flex-wrap justify-content-start mt-3">
                        <div class="card m-2 text-start text-break text-bg-light" style="width: 20rem;" th:each="coach : ${coaches}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${coach.getFullName()}"></h5>
                                <p class="card-text text-start" th:text="'Experience, years: ' + ${coach.experience}"></p>
                                <p class="card-text text-start" th:text="'Phonenumber: ' + ${coach.phoneNumber}"></p>
                                <p class="card-text text-start" th:text="'Description: ' + ${coach.description}"></p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex flex-row gap-2 justify-content-end">
                                    <a th:href="@{'/staff/edit/' + ${coach.uuid}}" class="btn btn-success">Edit</a>
                                    <form th:action="'/staff/delete/' + ${coach.uuid}" class="d-flex" method="post">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <p th:text="${team.description}"></p>
            </div>
        </div>
    </div>
</div>
</html>
