<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/main.html">

<div layout:fragment="content">
    <h1 class="mt-3">Team edit form</h1>
    <hr class="my-4">
    <div th:if="${errors}">
        <div th:each="error : ${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error.defaultMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Team name:</label>
            <input class="form-control" id="name" name="name" placeholder="Team name" th:value="${team.name}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" th:text="${team.description}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</html>
